@import "https://js.arcgis.com/calcite-components/3.3.0/calcite.css";
@import "https://js.arcgis.com/4.33/esri/themes/light/main.css";

html,
body {
  --calcite-color-brand: #162e51;
  --calcite-color-brand-hover: #1a4480;
  --calcite-color-brand-press: #162e51;
  --calcite-color-text-link: #1a4480;
  --calcite-color-info: #1a4480;
  --calcite-color-success: #00a91c;
  --calcite-color-warning: #ffbe2e;
  --calcite-color-danger: #d54309;
  --calcite-color-danger-hover: #b50909;
  --calcite-color-danger-press: #6f3331;
}

#app {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.esri-ui {
  inset: 0px !important;
}

calcite-list-item {
  --calcite-list-spacing-indent: none !important;
}

.esri-coordinate-conversion {
  background-color: #ffffff54;
  width: 180px;
  top: -1px;
  height: 16px;
  font-weight: 600;
  font-size: 11px;
  color: #323232;
  box-shadow: none !important;
  pointer-events: none !important;
  user-select: text;
}

.esri-coordinate-conversion__conversion-list {
  position: relative;
  top: -15px;
}

.esri-coordinate-conversion__select-row, .esri-coordinate-conversion__input-select {
  display:none;
}

.esri-legend__layer-cell {
  padding: 1px 0;

}

.esri-legend__layer-cell--info {
  padding-left: 5px;
  padding-right: 5px;
}

.esri-layer-list__item-content-bottom {
  margin: 5px;
}
