@import "https://js.arcgis.com/calcite-components/3.3.0/calcite.css";
@import "https://js.arcgis.com/4.33/esri/themes/light/main.css";

html,
body {
  --calcite-color-brand: #005ea2;
  --calcite-color-brand-hover: #1a4480;
  --calcite-color-brand-press: #162e51;
  --calcite-color-text-link: #1a4480;
  --calcite-color-info: #1a4480;
  --calcite-color-success: #00a91c;
  --calcite-color-warning: #ffbe2e;
  --calcite-color-danger: #d54309;
  --calcite-color-danger-hover: #b50909;
  --calcite-color-danger-press: #6f3331;
}

#app {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

calcite-block {
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 0px;
}

.esri-ui {
  inset: 0px !important;
}