<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="iisstart.htm">
        <system.webServer>
        </system.webServer>
    </location>
    <system.web>
    </system.web>
    <system.webServer>
        <httpErrors errorMode="DetailedLocalOnly" />
	<!-- Had to remove WebDav. It was blocking PUT and DELETE requests -->
	<handlers>
	    <remove name="WebDAV" />
	    <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
	</handlers>
    <modules>
        <remove name="WebDAVModule" />
    </modules>
       <rewrite>
         <rules>
           <rule name="HTTP to HTTPS redirect" enabled="true" stopProcessing="true">
				<match url="(.*)" />
    	        <conditions>
                 <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                </conditions>
             <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
           </rule>
			<rule name="Redirect node-ops to port 3031" enabled="true"
			stopProcessing="true">
			 <match url="^node-ops/(.*)" />
			 <action type="Rewrite" url="http://localhost:3031/node-ops/{R:1}" />
			</rule>
			<rule name="Redirect node-ops to node-ops/" stopProcessing="true">
			 <match url="node-ops$" />
			<action type="Redirect" url="node-ops/" />
			</rule>
			
               <rule name="Redirect ea/public to ea/client SPA" enabled="true" stopProcessing="true">
                    <match url="^ea/public/(.*)" />
                    <action type="Rewrite" url="/ea/client/" />
                </rule>
                <rule name="Redirect ea/public to ea/public/" enabled="true" stopProcessing="true">
                    <match url="ea/public$" />
                    <action type="Redirect" url="ea/public/" />
                </rule>
                <rule name="Redirect ea/admin to ea/client SPA" enabled="true" stopProcessing="true">
                    <match url="^ea/admin/(.*)" />
                    <action type="Rewrite" url="/ea/client/" />
                </rule>
                <rule name="Redirect ea/admin to ea/admin/" enabled="true" stopProcessing="true">
                    <match url="ea/admin$" />
                    <action type="Redirect" url="ea/admin/" />
                </rule>

                <rule name="Redirect ea/api to port 3030" enabled="true" stopProcessing="true">
                    <match url="^ea/api/(.*)" />
                    <action type="Rewrite" url="http://localhost:3030/ea/api/{R:1}" />
                </rule>
                <rule name="Redirect ea/api to ea/api/" stopProcessing="true">
                    <match url="ea/api$" />
                    <action type="Redirect" url="ea/api/" />
                </rule>

				<rule name="Redirect ea/swagger/ base route to port 3030" enabled="true" stopProcessing="true">
					<match url="^ea/swagger/$" />
					<action type="Rewrite" url="http://localhost:3030/ea/swagger/" />
				</rule>
				<rule name="Redirect ea/swagger/swagger-* resource routes (.css,.js, etc) to port 3030" stopProcessing="true">
					<match url="^ea/swagger/swagger-(.*)" />
					<action type="Rewrite" url="http://localhost:3030/ea/swagger/swagger-{R:1}" />
				</rule>
				<rule name="Redirect ea/swagger/custom/ custom resources folder to port 3030" stopProcessing="true">
					<match url="^ea/swagger/custom/(.*)" />
					<action type="Rewrite" url="http://localhost:3030/ea/swagger/custom/{R:1}" />
				</rule>
                <rule name="Redirect ea/swagger to ea/swagger/" stopProcessing="true">
                    <match url="ea/swagger$" />
                    <action type="Redirect" url="ea/swagger/" />
                </rule>

         </rules>
		<outboundRules>
			<rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
				<match serverVariable="RESPONSE_Strict_Transport_Security"
					pattern=".*" />
				<conditions>
					<add input="{HTTPS}" pattern="on" ignoreCase="true" />
				</conditions>
				<action type="Rewrite" value="max-age=31536000; includeSubDomains; preload " />
			</rule>
		</outboundRules>			
       </rewrite>
	   
    </system.webServer>    
</configuration>
